@font-face {
	font-family: 'PTSansRegular';
	src: url('PTS55F-webfont.eot');
	src: local('☺'), url('PTS55F-webfont.woff') format('woff'), url('PTS55F-webfont.ttf') format('truetype'), url('PTS55F-webfont.svg#webfontmBFaK3EM') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSansBold';
	src: url('PTS75F-webfont.eot');
	src: local('☺'), url('PTS75F-webfont.woff') format('woff'), url('PTS75F-webfont.ttf') format('truetype'), url('PTS75F-webfont.svg#webfontpfl2y6jq') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSansNarrowBold';
	src: url('PTN77F-webfont.eot');
	src: local('☺'), url('PTN77F-webfont.woff') format('woff'), url('PTN77F-webfont.ttf') format('truetype'), url('PTN77F-webfont.svg#webfontSAYAwFVt') format('svg');
	font-weight: normal;
	font-style: normal;
}



blockquote, body, caption, div, dl, dt, dd, form, fieldset, h1, h2, h3, h4, h5, h6, html, li, ul, ol, p, pre, textarea, table, td, th {
	margin: 0;
	padding: 0;
}

html, body {
	color: #4c4c4c;
	background: #fff;
}

body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

a:link, a:visited {
	color: #e06c27;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #c33929;
	text-decoration: underline;
}

address, dl, fieldset, p, pre, ul, ol, table {
	margin: 0 0 14px;
}

ul, ol, dd {
	margin-left: 33px;
}

td ul, td ol {
	margin-left: 14px;
}

ol ul, ul ol, ul ul, ol ol, td ul, td ol {
	margin-bottom: 0;
}

blockquote {
	margin: 14px 33px;
	font-style: italic;
}

dt {
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table, th, td {
	border: 1px solid #ececec;
}

th, td {
	padding: 2px 7px;
}

caption, th {
	font-weight: bold;
	text-align: left;
}

img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #c33929;
	font-weight: normal;
	line-height: 1.2em;
	font-family: 'PTSansNarrowBold', Arial, Helvetica, sans-serif;
}

h1 {
	margin: 0 0 0 0;
	font-size: 15px;
	line-height: 1em;
}

h3 {
	margin: 0 0 3px;
	font-size: 24px;
}

h4 {
	margin: 0 0 3px;
	font-size: 18px;
}

h5 {
	margin: 0 0 2px;
	font-weight: bold;
	font-size: 14px;
}

h6 {
	font-weight: bold;
	font-size: 14px;
}

/* Stolen from http://positioniseverything.net/easyclearing.html */
.cf:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}

.cf {
	display: inline-block;
}

* html .cf {
	height: 1px;
}

.cf {
	display: block;
}

.structural {
	position: absolute;
	left: -9999px;
}

.intro {
	font-size: 16px;
}

.hide {
	visibility: hidden;
	display: none;
}

img.right {
	float: right;
	margin: 0 0 4px 14px;
}

img.left {
	float: left;
	margin: 0 1.6em 0.2em 0;
}

img.full {
	margin: 0.2em 0;
}

/* Index */
#page {
	width: 922px;
	margin: 0 auto;
}

.top-nav {
	margin: 0 0 0.66em 0;
	padding: 15px 0 10px 40px;
	font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
}

.primary .links {
	margin-top: 10px;
	margin-left: 29px;
}

.primary a:link, #primary a:visited {
	color: #dd5c0f;
	text-decoration: none;
}

.primary a:hover, #primary a:focus, #primary a:active {
	color: #c33929;
	text-decoration: underline;
}

.primary {
	font-size: 27px;
}

.section {
	margin-bottom: 30px;
	background: url(/i/section-bottom.gif) no-repeat 0 100%;
}

.inner {
	padding: 0 30px 30px 72px;
}

#records .inner {
	background: url(/i/records.gif) no-repeat 0 0;
}

#playlists .inner {
	background: url(/i/playlists.gif) no-repeat 0 0;
}

#events .inner {
	background: url(/i/events.gif) no-repeat 0 0;
}

#facebook {
	padding: 0 0 30px 42px;
}

#playlists .boxed {
	width: 600px;
}

.boxed {
	display: inline-block;
	margin: 0 0 30px 0;
	padding: 15px 17px;
	font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #5d5d5d;
	width: auto;
}

	.boxed p {
		margin-bottom: 0;
	}

		.boxed p:first-child {
			margin-bottom: 1em;
		}

	.boxed a:link, .boxed a:visited {
		color: #fff;
		text-decoration: underline;
	}

	.boxed a:active, .boxed a:focus, .boxed a:hover {
		color: #e06c27;
	}

#records ul {
	margin: 0;
	list-style: none;
}

#records li {
	display: block;
	float: left;
	width: 380px;
	margin-left: 55px;
	margin-bottom: 50px;
}

	#records li.row {
		clear: left;
		margin-left: 0px;
	}

	#records li.highlight {
		display: block;
		clear: both;
		width: 730px;
		margin: 0 0 14px 0;
	}

		#records li.highlight h3 {
		}

		#records li.highlight img {
			border: 1px solid #ECECEC;
		}

.spotify h4 {
	line-height: 20px;
	display: block;
	background: url(/i/spotifyapp.png) no-repeat 0 2px;
	padding-left: 23px;
	padding-top: 3px;
	margin-bottom: 2px;
	color: #194519;
}

#records .spotify ul {
	margin-left: 20px;
	list-style-type: disc;
}

#records .spotify li {
	display: list-item;
	float: none;
	width: auto;
	margin-left: 0;
	margin-bottom: 0;
}

#records table {
	width: 300px;
	font-size: 0.9em;
}

#pmb {
	padding-top: 14px;
}

#playlists ul {
	margin: 0;
	list-style: none;
}

#playlists li.playlist {
	display: block;
	float: left;
	width: 400px;
	padding: 0 0 30px 0;
	margin: 0;
}

#playlists li.row {
	clear: left;
	padding-right: 20px;
}

#playlists li.playlist h3 a {
	display: block;
	font-size: 18px;
	line-height: 20px;
	background: url(/i/spotifyapp.png) no-repeat 0 2px;
	padding-left: 23px;
	padding-top: 3px;
	margin-bottom: 2px;
}

#playlists ol {
	font-size: 12px;
	color: #808080;
}

	#playlists ol li {
		white-space: nowrap;
		overflow: visible;
	}

		#playlists ol li a:link, #playlists ol li a:visited {
			color: #4c4c4c;
			text-decoration: none;
		}

		#playlists ol li a:active, #playlists ol li a:focus, #playlists ol li a:hover {
			color: #e06c27;
			text-decoration: underline;
		}

.show-embed {
	margin-top: 6px;
	margin-left: 33px;
	font-size: 12px;
}

#rss-link {
	margin: 0;
}

	#rss-link a {
		display: block;
		width: auto;
		background: url(/i/feed.png) no-repeat 0 0;
		padding-left: 23px;
		line-height: 20px;
		font-size: 18px;
		font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
	}

.radio-obligato-empire {
	margin-top:2em;
}
	.radio-obligato-empire h3 {
		margin-bottom: 10px;
	}
	.radio-obligato-empire a {
		display:block;
		width:auto;
		float:left;
		font-size:12px;
		text-align:center;
		margin-right:32px;
	}
		.radio-obligato-empire a:last-child {
			margin-right:0;
		}
	.radio-obligato-empire a img {
		margin:0 auto;
	}

.cols-2 .col {
	display: block;
	float: left;
	width: 620px;
	margin-right: 20px;
}

.cols-3 .col, .cols-2 .last {
	display: block;
	float: left;
	width: 300px;
	margin-right: 20px;
}

.cols-2 .last, .cols-3 .last {
	margin-right: 0;
}

.new-row {
	margin-top: 1em;
}

#playlists li span {
	display: block;
	margin-bottom: 0.1em;
	color: #808080;
}

#events ul {
	margin: 0 0 1em 0;
	list-style: none;
}

	#events ul li {
		margin-bottom: 1em;
	}

#events .col img {
	display: block;
	border: 1px solid #ececec;
	margin-top: 0.3em;
}

#events h3.past {
	margin-top: 1em;
}

@media screen and (max-width: 922px) {
	#facebook {
		display: none;
		visibility: hidden;
	}

	#page {
		width: 100%;
		padding: 0;
	}

	.top-nav {
		padding-left: 15px;
	}

	.primary {
		font-size: 17px;
	}

		.primary .links {
			margin-left: 15px;
		}

	.inner {
		padding: 10px;
	}

	.section,
	#records .inner,
	#playlists .inner,
	#events .inner {
		background-image: none;
	}

	#records li.highlight,
	#records li {
		margin-left: 0;
		padding: 0;
		width: 100%;
	}
	
	#playlists .boxed {
		width: auto;
	}

	#playlists li.playlist {
		float: none;
		width: 100%;
		margin: 0;
	}

	#playlists li.row {
		clear: left;
		padding-right: 0;
	}
	
	#playlists ol li {
		white-space: normal;
		overflow: visible;
	}

	.cols-2 .col {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.new-row {
		margin-top: 0;
	}

	.col {
		margin-top: 10px;
	}

	.cols-3 .col, .cols-2 .last {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	img {
		max-width:100%;
	}
}

/* Forms */
.account fieldset {
	padding: 1em;
}

.account legend {
	padding-right: 3px;
	padding-left: 3px;
	font-size: 1.2em;
}

.button, .pair, .checkbox {
	margin: 0 0 0.5em;
}

.button {
	padding-left: 8em;
}

.checkbox input {
	margin-left: 8em;
}

.pair label {
	display: block;
	width: 7em;
	text-align: right;
	float: left;
	margin-right: 1em;
}

.pair input {
	width: 34em;
}

.small input {
	width: 3em;
}

.account .tracks dt {
	display: block;
	float: left;
	width: 3em;
	height: 2.5em;
}

.account .tracks dd {
	margin: 0;
}

/* Blocks */
#account {
	margin: 0.3em 0;
	font-weight: bold;
	font-size: 1.7em;
	font-style: italic;
}
